@import "../../globals";

.fs_section_title{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px 0px;
    justify-content: center;
    h2{
        padding: 5px 10px;
        border: 5px solid transparent;
        border-top: 5px solid $primary-light;
        border-bottom: 5px solid $primary-light;
        font-family: $secondary-font-family;
        color:transparent;
        background: linear-gradient(45deg, $primary-col,$primary-light);
        -webkit-background-clip: text;
        cursor: pointer;
        font-weight: 600;
        transition-duration: 1s;
        &:hover{
            border: 5px solid transparent;
            background: linear-gradient(225deg, $primary-col,$primary-light);
            -webkit-background-clip: text;
            border-left: 5px solid $primary-light;
            border-right: 5px solid $primary-light;
        }
    }
}