@import "../../_globals.scss";

.fs_book {
    background-color: $card-background !important;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px #0002;
    background: #f7f6f6 !important;
    overflow: hidden;
    border: none;
    border-radius: 5px !important;
    max-width: 13rem !important;
    min-width: 13rem !important;
    &:hover {
        box-shadow: 0px 0px 10px 1px $primary-col;
    }

    .fs_book_title{
        font-family: $secondary-font-family;
        text-align: left;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600 !important;
        display: -webkit-box;
        line-height: 20px; /* fallback */
        max-height: 40px; /* fallback */
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        &:hover{
            color:$secondary-col
        }
    }
    .fs_book_description{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .fs_book_language{
            font-size: smaller;
            opacity: 0.9;
        }
    }
    .fs_delivery_free {
        position: absolute;
        top: -100px;
        color: #fff;
        background-color: #9b1c31;
        padding: 3px;
        font-size: 0.7rem;
        width: 400px;
        transform: rotateZ(-45deg) translate(-50%, -100%);
        text-align: center;
    }

    .fs_added {
        position: absolute;
        z-index: 3;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #0004;
        display: flex;
        transition-duration: 300ms;
        align-items: center;
        justify-content: center;
        font-size: 3rem;

        .fs_added_icon {
            font-size: 6rem;
            color: $primary-col;
        }
    }

    .fs_added.hidden {
        display: none;
    }

    .fs_book_transition-enter {
        opacity: 0.01;
    }

    .fs_book_transition-enter.fs_book_transition-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }

    .fs_book_transition-leave {
        opacity: 1;
    }

    .fs_book_transition-leave.fs_book_transition-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
}

.fs_book.fs_cart {
    border: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0px !important;
    border-bottom: 1px solid $primary-col;
}


.modal-open {
    overflow: hidden;
}