@import '../../globals.scss';
.fs_billing_card{
    margin: 10px 5px;
    padding: 10px;
    box-shadow: 0px 0px 3px 1px $primary-col;
    border-radius: 30px;
    background-color: #fff;
    max-width: 800px;
    color: $primary-col;
    position: relative;
    &:hover{
        cursor: pointer;
        box-shadow: 0px 0px 3px 3px $primary-col;
    }
    .fs_billing_remove{
        position: absolute;
        width: 150px;
        right: 0px;
    }
}
