@import "../../globals";
.fs_full_book{
    .fs_book_image{
        cursor: pointer;
        object-fit: contain;
        transition: all 300ms linear;
    }
    .fs_book_image.fs_full_page{
        width: 95vw;
        height: 95vh;
    }
    .fs_full_book_description{
        color:$primary-light;
        text-transform: uppercase;
    }
}