$primary-col:#031F30;
$secondary-col: #FF3F73;
$primary-text-col:#000000;
$secondary-text-col: #ffffff;
$background: #ffffff;
$font-family:  'Roboto', sans-serif;
$secondary-font-family: 'Playfair Display', serif;;