@import "globals";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit !important;
    a:hover{
        color:inherit;
    }
}

body {
    background: $background;
    // background: url("./images/banner/banner3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary-text-col;
    font-family: $font-family;
}
h1,h2,h3,h4{
    font-family: $secondary-font-family;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $primary-col;
}

::-webkit-scrollbar-thumb {
    background: $secondary-col;
}

::-moz-selection {
    color: $secondary-text-col;
    background: $primary-col;
}

::selection {
    color: $secondary-col;
    background: $primary-col;
}