@import "globals";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none !important;
    color: inherit !important;
    a:hover{
        color:inherit;
    }
}
a.link{
    text-decoration: underline !important;
    color: $primary-col !important;

}

body {
    background: $background;
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary-text-col;
    font-family: $font-family;
    overflow-x: hidden;
    max-width: 100vw;
    min-height: 100vh;
}
h1,h2,h3,h4{
    font-family: $secondary-font-family;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $primary-col;
}

::-webkit-scrollbar-thumb {
    background: $secondary-col;
}

::-moz-selection {
    color: $secondary-text-col;
    background: $primary-col;
}

::selection {
    color: $secondary-col;
    background: $primary-col;
}

.view_page{
    padding-top: 10vh;
    min-height: 90vh;
    position: relative;
}
@media screen and (max-height:500px){
    .view_page{
        padding-top: 20vh;
    }
}

.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
  }