@import "../../globals";
.fs_button{
    outline: none;
    border: none;
    font-family: $secondary-font-family;
    padding: 2px 10px;
    font-size: 1rem;
    transition-duration: 100ms;
    margin: 0px 0px;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
    }
}
.fs_button.disabled{
    color:#fff !important;
    background: #1A2238 !important;
    &:hover{
        box-shadow: none;
    }
}
.fs_button.primary.filled{
    background:linear-gradient(45deg,#1A2238,#4662af);
    color:$secondary-text-col;
    background-color: $primary-col;
    box-shadow: 0px 0px 1px 1px $primary-col;
    border: 2px solid transparent;
    &:hover{
        color:$secondary-text-col;
        background-color: $secondary-col;
        background:linear-gradient(45deg,#9b1c31,#df3b56);
        box-shadow: 0px 0px 1px 1px $secondary-col;
    }
}
.fs_button.primary.outlined{
    border: 2px solid $primary-col;
    box-shadow: 0px 0px 1px 1px $primary-col;
    background-color: transparent;
    color:$primary-col;
    &:hover{
        background-color: $primary-col;
        color:$secondary-text-col;
    }
}

.fs_button.secondary.filled{
    background-color: $secondary-col;
    color:$secondary-text-col;
    border: 2px solid transparent;
    background:linear-gradient(45deg,#9b1c31,#df3b56);
    box-shadow: 0px 0px 1px 1px $secondary-col;
    &:hover{
        box-shadow: 0px 0px 1px 1px $primary-col;
        background:linear-gradient(45deg,#1A2238,#4662af);
    }
}
.fs_button.secondary.outlined{
    background-color: transparent;
    color:$secondary-col;
    box-shadow: 0px 0px 1px 1px $secondary-col;
    border: 2px solid $secondary-col;
    &:hover{
        background-color: $secondary-col;
        color:$secondary-text-col;
    }
}

.fs_banner_button{
    font-size: 3vw;
    font-family: 'Pacifico', cursive;
    outline: none;
    border: none;
    background-color: #171010AA;
    border: 3px solid #171010DD;
    padding: 4px 10px;
    color: #fff;
    text-transform: capitalize;
    box-shadow: 0px 0px 5px 2px #171010AA;
    transition-duration: 300ms;
    border-radius: 5px;
    .fs_banner_icon{
        display: none;
    }
    &:hover{
        box-shadow: 0px 0px 8px 2px #000;
        font-size: 3.2rem;
        color: $tertiary-col;
    }
    &:hover .fs_banner_icon{
        display: inline;
    }
}
.carousel-caption{
    position: absolute;
    top: 70% !important;
    left: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    transform: translate(-50%,-50%);
}

.carousel-indicators button{
    background-color: $primary-col !important;
}

@media screen and (max-width: 800px) {
    .fs_banner_button{
        font-size: 20px;
        padding: 1px;
    }
}
